/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Ahsan Qureshi
 */
.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-background-color: burlywood;
}
.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: yellow;
    -fx-border-color: rgb(50, 5, 5);
    -fx-padding: 5px 5px 5px 5px;
    -fx-alignment: CENTER;
    -fx-spacing: 10px;
}

.file_hbox{
    -fx-background-color: yellow;
    -fx-padding: 5px 5px 5px 5px;
}

.slide_edit_view {
    
    //-fx-background-radius: 10.0;
    -fx-background-color: goldenrod;
    -fx-opacity: .75;
    -fx-padding: 10px 10px 10px 10px;
    //-fx-border-color: rgb(70, 5, 5);
    //-fx-border-thickness: 10px;
    -fx-spacing: 10px;
}

.slide_select_view {
    //-fx-background-radius: 10.0;
    -fx-background-color: goldenrod;
    -fx-padding: 10px 10px 10px 10px;
    //-fx-border-color: blue;
    //-fx-border-thickness: 10px;
    -fx-spacing: 10px;
}

.vertical_toolbar_button {
    //-fx-background-color: #ffc800;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-background-radius: 500;
}


.horizontal_toolbar_button {
    -fx-background-color: yellow;
    //-fx-background-size: 10px;
    -fx-background-radius: 0;
    //-fx-background-color: yellow;
    //-fx-border-color: black;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-end-margin: 5;
}
